.messages-box {
    background-color: #fff;
    width: 470px;
    margin: 0 0 40px 0;
    border: solid 1px rgba(132, 146, 175, 0.3);
}

.message-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #c7d0e0;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    h1 {
        font-size: 24px;
        margin: 10px 0 10px 25px;
    }

    p {
        margin-right: 25px;
        background-color: #5384ff;
        padding: 10px 15px;
        border-radius: 50%;
        font-weight: 600;
        color: #ffffff;
    }
}

.message-box-read {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(132, 146, 175, 0.3);
    padding: 16px 25px;
}

.message-box-unread {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(132, 146, 175, 0.3);
    background-color: rgba(218, 222, 231, 0.3);
    padding: 16px 25px;
}

.message-info-top {
    display: flex;
    align-items: center;
    font-size: 14px;

    h4 {
        margin: 0;
        font-size: 14px;
    }

    span {
        margin-left: 5px;
        color: #8492af;
    }
}

.message-content {
    p {
        margin: 4px 0 6px;
        font-size: 14px;
    }
}

.message-img {
    border-radius: 50%;
    margin-right: 20px;
    width: 45px;
    height: 45px;
}

.action-btns-box {
    color: #8492af;
    cursor: pointer;

    img {
        margin-right: 10px;
    }
}

.message-box-read:last-child {
    border: none;
}