.side-bar-box {
    position: fixed;
    background-color: #0e1a35;
    width: 320px;
    height: 100vh;
    padding-top: 50px;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}

.side-bar-box-close {
    position: fixed;
    background-color: #0e1a35;
    width: 320px;
    height: 100vh;
    padding-top: 50px;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
}

.side-bar-header {
    background-color: #0e1a35;
    display: flex;
    padding-bottom: 30px;
    width: 260px;
    justify-content: center;
    align-items: center;
}

.side-bar-list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar-item-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    cursor: pointer;
    border-left: 7px solid transparent;

    h3 {
        font-size: 24px;
        margin-left: 15px;
        font-weight: 500;
        line-height: 2;
        color: #ffffff;

    }
    &:hover {
        background-color: #122143;
        border-left: 7px solid #5584ff;
    }
}